body{
    overflow-y: hidden;
}

.App{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained{
    outline: none;
}
.ant-upload.ant-upload-select.ant-upload-select-picture-card{
    width: 150px!important;
    height: 150px!important;
}