body{
    overflow-y: hidden;
}

.App{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 101vh;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained{
    outline: none;
}
.ant-upload.ant-upload-select.ant-upload-select-picture-card{
    width: 150px!important;
    height: 150px!important;
}
.MuiPaper-elevation1{
    box-shadow: none!important;
}
.fileContainer{
    border: 1px solid #e7e7e7!important;
}
*{
    outline: none!important;
}
*:focus{
    outline: none!important;
}
*:active{
    outline: none!important;
}
*:hover{
    outline: none!important;
}