.main{
    width: 100%;
}
.user{
    width: 84%;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    padding-top: 15px;
}
.nameUser{
    margin: 2px 2%;
}
.title{
    background-color: #e7e7e7d4;
    color: #696969;
    padding-left: 4%;
   
}
.topbar{
    position: fixed;
    width: 100%;
    z-index: 25;
    background-color: white;
}

.main_content{
    margin-top: 70px;
    height: 95%;
    overflow-y: overlay;
}